 body {
  background: url(./assets/freedom.jpg)no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;   
}

.text{
  text-transform: uppercase;
  text-align: right; 
  margin: 8rem;;
  font-size: 40px;
  word-spacing: 1rem;
  letter-spacing: .3rem;
  font-family: 'Open Sans', sans-serif;
  
}

.author {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: italic;
  padding-right: 10rem;
}


.links li {
  display:inline;
  padding: 20px;
  position: relative;

  
}

.ro img {
  position: absolute;
  margin-top: 400px;
  right:190px;
  
}

.en img {
  position: absolute;
  margin-top: 400px;
  right:90px;
  
}
  
.ge img {
  position: absolute;
  margin-top: 400px;
  right:-10px;
  
 
}

.ro, .en, .ge, img:hover {
  transform: scale(1.2);
}


@media(max-width: 768px) {
  body { 
  background: url(./assets/freedom.jpg)no-repeat 30% center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .text {
    text-transform: uppercase;
    text-align: right; 
    font-size: 30px;
    word-spacing: .3rem;
    letter-spacing: .1rem;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    margin:3rem 3rem; 
    
  }
  
  .author {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: italic;
    padding-left: 23rem;
    padding-top: 3rem; 
        
}
  
  .ro img {
    position: absolute;
    margin-top: 400px;
    right:100px;
    
    
}

  .en img {
    position: absolute;
    margin-top: 400px;
    right:0px;
    
}
  
  .ge img {
    position: absolute;
    margin-top: 400px;
    right:-90px;
     
}

@media(max-width: 400px){
  body {
    background: url(./assets/freedom.jpg)no-repeat 30% cover;
    background-size: cover;
    height: 140vh;
    width: 100%;
    
  }
  
  .text {
    font-size: 20px;
    text-transform: none;
    text-align: center;
  }
  
  .author {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-style: italic;
    padding-left: 17rem;
    padding-top: 5rem; 
    margin:0;
    padding: 2rem
  }
  
  .links li {
    display: inline;
    padding: 2rem;
    
    
  }
  .ro img {
     position: absolute;
     margin:0;   
     height: 2.5rem;
     margin-top: 33rem;
     
  }

   .en img {
      position: absolute;
      margin:0;
      right: auto;
      height: 2.5rem;
      margin-top:33rem;
      right:3rem;
  }

   .ge img {
      position: absolute;
      margin:0;
      right: auto;
      height:2.5rem;      
      margin-top: 33rem;
  }
 
  
}